@font-face {
   font-family: 'Montserrat-Black';
   src: url('Montserrat-Black/font.ttf');
}
@font-face {
   font-family: 'Montserrat-ExtraBold';
   src: url('Montserrat-ExtraBold/font.ttf');
}
@font-face {
   font-family: 'Montserrat-Light';
   src: url('Montserrat-Light/font.ttf');
}
