<script src="../../assets/masonry/masonry.pkgd.min.js"></script>
<script src="../../assets/web/assets/jquery/jquery.min.js"></script>
<script src="../../assets/popper/popper.min.js"></script>
<script src="../../assets/tether/tether.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/smoothscroll/smooth-scroll.js"></script>
<script src="../../assets/dropdown/js/script.min.js"></script>
<script src="../../assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
<script src="../../assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
<script src="../../assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
<script src="../../assets/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="../../assets/theme/js/script.js"></script>
<script src="../../assets/slidervideo/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript">

    function mapSelect(clicked_id) {
      var allowed = !(document.getElementById((clicked_id + "Info")).classList.contains('currentlySelected'));
      alert(allowed);
      // Part that fadesout the previous object
      var currentObject = document.getElementsByClassName('currentlySelected');
      var i;
      for (i=0;i<currentObject.length;i++){
      //  alert(currentObject[i].id)
        var obj = document.getElementById(currentObject[i].id);
      //  alert(obj.id)
        fade(obj);
        currentObject[i].classList.remove('currentlySelected');
      }

      //Part that fades in the selected object
      var output = clicked_id + "Info";
    //  alert(output);
      var selectedElement = document.getElementById(output);
      selectedElement.classList.add('currentlySelected');
      unfade(selectedElement
    }

    function fade(element) {
        var op = 1;  // initial opacity
        var timer = setInterval(function () {
            if (op <= 0.1){
                clearInterval(timer);
                element.style.display = 'none';
            }
            element.style.opacity = op;
            element.style.filter = 'alpha(opacity=' + op * 100 + ")";
            op -= op * 0.1;
        }, 50);
    }

    function unfade(element) {
    var op = 0.1;  // initial opacity
    element.style.display = 'block';
    var timer = setInterval(function () {
        if (op >= 1){
            clearInterval(timer);
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op += op * 0.1;
    }, 10);
}

    /* Open the sidenav */
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
        document.getElementById("mySidenav").style.opacity = "1";
    }

    /* Close/hide the sidenav */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("mySidenav").style.opacity = "0";
    }
</script>

</body>
</html>
