@font-face {
  font-family: 'official-icons-bold';
  src:  url('official-icons-bold.eot?m1l4yr');
  src:  url('official-icons-bold.eot?m1l4yr#iefix') format('embedded-opentype'),
    url('official-icons-bold.ttf?m1l4yr') format('truetype'),
    url('official-icons-bold.woff?m1l4yr') format('woff'),
    url('official-icons-bold.svg?m1l4yr#official-icons-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="customib-"], [class*="customib-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'official-icons-bold' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.customib-add-submenu:before {
  content: "\e900";
}
.customib-alert:before {
  content: "\e901";
}
.customib-align-center:before {
  content: "\e902";
}
.customib-align-justify:before {
  content: "\e903";
}
.customib-align-left:before {
  content: "\e904";
}
.customib-align-right:before {
  content: "\e905";
}
.customib-android:before {
  content: "\e906";
}
.customib-apple:before {
  content: "\e907";
}
.customib-arrow-down:before {
  content: "\e908";
}
.customib-arrow-next:before {
  content: "\e909";
}
.customib-arrow-prev:before {
  content: "\e90a";
}
.customib-arrow-up:before {
  content: "\e90b";
}
.customib-bold:before {
  content: "\e90c";
}
.customib-bookmark:before {
  content: "\e90d";
}
.customib-bootstrap:before {
  content: "\e90e";
}
.customib-briefcase:before {
  content: "\e90f";
}
.customib-browse:before {
  content: "\e910";
}
.customib-bulleted-list:before {
  content: "\e911";
}
.customib-calendar:before {
  content: "\e912";
}
.customib-camera:before {
  content: "\e913";
}
.customib-cart-add:before {
  content: "\e914";
}
.customib-cart-full:before {
  content: "\e915";
}
.customib-cash:before {
  content: "\e916";
}
.customib-change-style:before {
  content: "\e917";
}
.customib-chat:before {
  content: "\e918";
}
.customib-clock:before {
  content: "\e919";
}
.customib-close:before {
  content: "\e91a";
}
.customib-cloud:before {
  content: "\e91b";
}
.customib-code:before {
  content: "\e91c";
}
.customib-contact-form:before {
  content: "\e91d";
}
.customib-credit-card:before {
  content: "\e91e";
}
.customib-cursor-click:before {
  content: "\e91f";
}
.customib-cust-feedback:before {
  content: "\e920";
}
.customib-database:before {
  content: "\e921";
}
.customib-delivery:before {
  content: "\e922";
}
.customib-desktop:before {
  content: "\e923";
}
.customib-devices:before {
  content: "\e924";
}
.customib-down:before {
  content: "\e925";
}
.customib-download:before {
  content: "\e926";
}
.customib-drag-n-drop:before {
  content: "\e927";
}
.customib-drag-n-drop2:before {
  content: "\e928";
}
.customib-edit:before {
  content: "\e929";
}
.customib-edit2:before {
  content: "\e92a";
}
.customib-error:before {
  content: "\e92b";
}
.customib-extension:before {
  content: "\e92c";
}
.customib-features:before {
  content: "\e92d";
}
.customib-file:before {
  content: "\e92e";
}
.customib-flag:before {
  content: "\e92f";
}
.customib-folder:before {
  content: "\e930";
}
.customib-gift:before {
  content: "\e931";
}
.customib-github:before {
  content: "\e932";
}
.customib-globe-2:before {
  content: "\e933";
}
.customib-globe:before {
  content: "\e934";
}
.customib-growing-chart:before {
  content: "\e935";
}
.customib-hearth:before {
  content: "\e936";
}
.customib-help:before {
  content: "\e937";
}
.customib-home:before {
  content: "\e938";
}
.customib-hot-cup:before {
  content: "\e939";
}
.customib-idea:before {
  content: "\e93a";
}
.customib-image-gallery:before {
  content: "\e93b";
}
.customib-image-slider:before {
  content: "\e93c";
}
.customib-info:before {
  content: "\e93d";
}
.customib-italic:before {
  content: "\e93e";
}
.customib-key:before {
  content: "\e93f";
}
.customib-laptop:before {
  content: "\e940";
}
.customib-layers:before {
  content: "\e941";
}
.customib-left-right:before {
  content: "\e942";
}
.customib-left:before {
  content: "\e943";
}
.customib-letter:before {
  content: "\e944";
}
.customib-like:before {
  content: "\e945";
}
.customib-link:before {
  content: "\e946";
}
.customib-lock:before {
  content: "\e947";
}
.customib-login:before {
  content: "\e948";
}
.customib-logout:before {
  content: "\e949";
}
.customib-magic-stick:before {
  content: "\e94a";
}
.customib-map-pin:before {
  content: "\e94b";
}
.customib-menu:before {
  content: "\e94c";
}
.customib-mobile:before {
  content: "\e94d";
}
.customib-mobile2:before {
  content: "\e94e";
}
.customib-official:before {
  content: "\e94f";
}
.customib-more-horizontal:before {
  content: "\e950";
}
.customib-more-vertical:before {
  content: "\e951";
}
.customib-music:before {
  content: "\e952";
}
.customib-new-file:before {
  content: "\e953";
}
.customib-numbered-list:before {
  content: "\e954";
}
.customib-opened-folder:before {
  content: "\e955";
}
.customib-pages:before {
  content: "\e956";
}
.customib-paper-plane:before {
  content: "\e957";
}
.customib-paperclip:before {
  content: "\e958";
}
.customib-photo:before {
  content: "\e959";
}
.customib-photos:before {
  content: "\e95a";
}
.customib-pin:before {
  content: "\e95b";
}
.customib-play:before {
  content: "\e95c";
}
.customib-plus:before {
  content: "\e95d";
}
.customib-preview:before {
  content: "\e95e";
}
.customib-print:before {
  content: "\e95f";
}
.customib-protect:before {
  content: "\e960";
}
.customib-question:before {
  content: "\e961";
}
.customib-quote-left:before {
  content: "\e962";
}
.customib-quote-right:before {
  content: "\e963";
}
.customib-redo:before {
  content: "\e964";
}
.customib-refresh:before {
  content: "\e965";
}
.customib-responsive:before {
  content: "\e966";
}
.customib-right:before {
  content: "\e967";
}
.customib-rocket:before {
  content: "\e968";
}
.customib-sad-face:before {
  content: "\e969";
}
.customib-sale:before {
  content: "\e96a";
}
.customib-save:before {
  content: "\e96b";
}
.customib-search:before {
  content: "\e96c";
}
.customib-setting:before {
  content: "\e96d";
}
.customib-setting2:before {
  content: "\e96e";
}
.customib-setting3:before {
  content: "\e96f";
}
.customib-share:before {
  content: "\e970";
}
.customib-shopping-bag:before {
  content: "\e971";
}
.customib-shopping-basket:before {
  content: "\e972";
}
.customib-shopping-cart:before {
  content: "\e973";
}
.customib-sites:before {
  content: "\e974";
}
.customib-smile-face:before {
  content: "\e975";
}
.customib-speed:before {
  content: "\e976";
}
.customib-star:before {
  content: "\e977";
}
.customib-success:before {
  content: "\e978";
}
.customib-sun:before {
  content: "\e979";
}
.customib-sun2:before {
  content: "\e97a";
}
.customib-tablet-vertical:before {
  content: "\e97b";
}
.customib-tablet:before {
  content: "\e97c";
}
.customib-target:before {
  content: "\e97d";
}
.customib-timer:before {
  content: "\e97e";
}
.customib-to-ftp:before {
  content: "\e97f";
}
.customib-to-local-drive:before {
  content: "\e980";
}
.customib-touch-swipe:before {
  content: "\e981";
}
.customib-touch:before {
  content: "\e982";
}
.customib-trash:before {
  content: "\e983";
}
.customib-underline:before {
  content: "\e984";
}
.customib-undo:before {
  content: "\e985";
}
.customib-unlink:before {
  content: "\e986";
}
.customib-unlock:before {
  content: "\e987";
}
.customib-up-down:before {
  content: "\e988";
}
.customib-up:before {
  content: "\e989";
}
.customib-update:before {
  content: "\e98a";
}
.customib-upload:before {
  content: "\e98b";
}
.customib-user:before {
  content: "\e98c";
}
.customib-user2:before {
  content: "\e98d";
}
.customib-users:before {
  content: "\e98e";
}
.customib-video-play:before {
  content: "\e98f";
}
.customib-video:before {
  content: "\e990";
}
.customib-watch:before {
  content: "\e991";
}
.customib-website-theme:before {
  content: "\e992";
}
.customib-wifi:before {
  content: "\e993";
}
.customib-windows:before {
  content: "\e994";
}
.customib-zoom-out:before {
  content: "\e995";
}
